{% extends "base.html" %}
{% import "macros.html" as meta %}

{% set page_class = 'home' %}
{% set url = SITEURL + '/' %}

{% block meta_tags %}
    {{ meta.meta_description(page.excerpt | striptags) }}
{% endblock meta_tags %}

{% block social_meta %}
    {{ meta.open_graph(SITENAME, AUTHOR, page.title, url, page.excerpt | striptags) }}
{% endblock social_meta %}

{% block canonical_rel %}
    <link rel="canonical" href="{{ url }}">
{% endblock %}

{% block content %}
    <div class="jumbotron">
      <div class="container">
          <div class="row">
              <div class="col-xs-8 col-md-9 col-lg-10">
                <h1>{{SITENAME}}</h1>
                {{ page.content }}
              </div>
              <div class="col-xs-4 col-md-3 col-lg-2 pull-right">
                <img src="/theme/img/icon_large@2x.png" class="img-responsive">
              </div>
          </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <h2>The Doctrine and Covenants</h2>
          <div class="btn-group btn-group" role="group">
            <a class="btn btn-primary" href="/dc/" role="button">Schedule</a>
            <a class="btn btn-default" href="/resources/#the-doctrine-and-covenants" role="button">Resources</a>
          </div>
       </div>
        <div class="col-sm-4">
          <h2>The Book of Mormon</h2>
          <div class="btn-group btn-group" role="group">
            <a class="btn btn-primary" href="/bom/" role="button">Schedule</a>
            <a class="btn btn-default" href="/resources/#the-book-of-mormon" role="button">Resources</a>
          </div>
        </div>
        <div class="col-sm-4">
          <h2>Book of Mormon Highlights</h2>
          <div class="btn-group btn-group" role="group">
            <a class="btn btn-primary" href="/bom-highlights/" role="button">Schedule</a>
          </div>
        </div>
      </div>
    </div> 
{% endblock %}
