{% extends "base.html" %}
{% import "macros.html" as meta %}

{% set page_class = 'page' %}
{% set url = SITEURL + '/' + page.url %}

{% block meta_tags %}
    {{ meta.meta_description(page.excerpt | striptags) }}
{% endblock meta_tags %}

{% block social_meta %}
    {{ meta.open_graph(SITENAME, AUTHOR, page.title, url, page.excerpt | striptags) }}
{% endblock social_meta %}

{% block canonical_rel %}
    <link rel="canonical" href="{{ url }}">
{% endblock %}

{% block content %}

    <div class="container">

      <div>
        <h1>{{ page.title }}</h1>
        {{ page.content }}
      </div>

    </div>
{% endblock %}
